src/Cholec80/data/
my_file.zip
checkpoints/
src/Cholec80/output/checkpoints/phase/20250112-0858_Step1_cuhk4040Split_lstm_convnextv2_lr0.0001_bs1_seq256_frozen/models
src/Cholec80/output/*
predictions/
predictions_corrupt/
predictions_corrupt_15/
src/Cholec80/train_scripts/__pycache__/*
src/Cholec80/train_scripts/newly_opt_ykx/__pycache__/*
corrupt_pred/
results/
notes/
train_scripts/__pycache__/*
train_scripts/newly_opt_ykx/LongShortNet/__pycache__/*
train_scripts/newly_opt_ykx/LongShortNet/long_net_convnextv2.pth.tar
notes
results/
src/Cholec80/train_scripts/convnext/__pycache__/
src/Cholec80/train_scripts/group_norm/__pycache__/
src/Cholec80/train_scripts/newly_opt_ykx/LongShortNet/__pycache__/
src/Cholec80/train_scripts/visualization/__pycache__/
checkpoints/